/* Estilo global es decir, de toda la pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #7ff6ff; /* color del fondo general*/
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

/* Estilo del encabezado */
header {
    background-color: #008080; /* Color del fondo del encabezado*/
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #006666;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/* Estilo de navegación */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #007777; /* Color más claro al pasar el mouse por las opciones*/
    border-radius: 5px;
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background-color: #004C4C;
    margin: 0;
}

/* Estilo de las secciones */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f8ff; /* Color suave para el fondo de la sección */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section h2, section h3 {
    color: #006666; /* Color de los titulos y subtitulos */
}

section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Estilo para las imágenes */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo para figuras y captions */
figure {
    margin: 20px 0;
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.9em;
    color: #555;
}